@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap');

body {
  background-color: #ccc;
  margin: 0;
  padding: 10px;
  font-family: 'Sansita Swashed', cursive;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    padding-top: 10%;
}

div {
  background-color: grey;
  height: 13vh;
  border-radius: 10px;
}

.header {
font-size: 50px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 0%;

}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.violet {
  background-color: violet;
}

.blueviolet {
  background-color: blueviolet;
}

.green {
  background-color: green;
}

.lightsalmon {
  background-color: lightsalmon;
}

.orange {
  background-color: orange;
}

.lightgreen {
  background-color: lightgreen;
}

.brown {
  background-color: brown;
}

.lightblue {
  background-color: lightblue;
}
